@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*Container Styles*/
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Text Styles */
.heading {
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
}
.progress-bar-value {
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    color: #fff
}

/*Progress Bar Track Styles*/
.progress-bar-track {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    background-color: #D1D1D1;
    /* border: 2px solid #000; */
    box-sizing: border-box;
}
.progress-bar-thumb {
    display: none;
    align-items: center;
    border-radius: 20px;
    background-color: #B20600;
    width: 0%;
    height: 40px;
    padding-left: 15px;
}

/*Reset Button*/
.reset-button {
    padding: 10px;
    width: 100px;
    margin: 20px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border: none;
    background-color: #fff;
    cursor: pointer;
}

/* Desktop*/
@media (min-width: 600px) {
    .progress-bar-track {
        width: 500px;
    }
}